[Unit]
Description=keep service nightly

[Service]
Type=oneshot
ExecStart=/opt/keep/bin/keep --config "/home/m/my keep.yaml" fork nightly
StandardOutput=append:/home/m/.local/state/keep/logs/nightly.out.log
StandardError=append:/home/m/.local/state/keep/logs/nightly.err.log

[X-Keep]
Managed=true
Service=nightly
Version=1.2.3
Path=/opt/keep/bin/keep
